@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,0.5746673669467788) 42%, rgba(29,104,191,0.5130427170868348) 64%);
}

.selected-task {
  background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,0.5746673669467788) 42%, rgba(29,104,191,0.5130427170868348) 64%);
color: black;
}
